.prattground-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.prattground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    opacity: 1;
    filter: alpha(opacity=20);
    -webkit-transition: opacity .5s;
    transition: opacity .5s;

    background-image: url("../images/prattground.jpg");
}

@media screen and (min-width: 0px) and (max-width: 950px) {
    .prattground-container { display: block; }
    .profile-picture {
        display:none;
    }
    .actor-infos {
        width: 100%;
        border-radius: 0px;
        background-color: rgba(128, 128, 128, 0.6);
    }
}

@media screen and (min-width: 951px) {
    .prattground-container { display: none; }
    .profile-picture {
        display: inline;
        width: 35%;
        height: 50%;
        min-width: 35%;
        min-height: 50%;
        padding: 2%;
    }
    .actor-infos {
        width: 65%;
        border-radius: 10px;
        color : #9d9d9d;

        background-color: #333;
    }

    .filmography-table > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
        background-color: rgba(128, 128, 128, 0.3);
    }
}

.actor-infos {
    display: flex;
    margin-top:50px;
}

.bio-table {
    flex: 1 55%;
    font-size: large;
    list-style-type:none;
    text-align: left;
}