.prattground-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.prattground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    opacity: 1;
    filter: alpha(opacity=20);
    -webkit-transition: opacity .5s;
    transition: opacity .5s;

    background-image: url("../images/prattground.jpg");
}

@media screen and (min-width: 0px) and (max-width: 400px) {
    .prattground-container { display: block; }  /* show it on small screens */
    .profile-picture {
        display:none;
    }
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
    .prattground-container { display: none; }   /* hide it elsewhere */
    .profile-picture {
        display: inline;
        width: 45%;
        height: 90%;
        padding: 2%;
    }
}

.actor-infos {
    width: 100%;
    display: flex;
    margin-top:50px;

    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 10px;
}

.infos-table {
    flex: 1 55%;
    font-size: large;
    list-style-type:none;
    text-align: left;
}

.jurassic-link {
    margin: 15px;
}

.actor-page {
    border-top: 1px solid #eee;
    padding: 10%;
}
