.actorBackground-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#actorBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    opacity: 1;
    filter: alpha(opacity=20);
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

@media screen and (min-width: 0px) and (max-width: 950px) {
    .actorBackground-container { display: block; }
    .profile-picture {
        display:none;
    }
    .actor-infos {
        width: 100%;
        border-radius: 0px;
        background-color: rgba(64, 64, 64, 0.6);
        color: black;
    }
    .filmography-table {
        color: black;
        background-color: rgba(64, 64, 64, 0.6);
    }
}

@media screen and (min-width: 951px) {
    .actorBackground-container { display: none; }
    .profile-picture {
        display: inline;
        width: 35%;
        height: 50%;
        min-width: 35%;
        padding: 2%;
    }
    .actor-infos {
        border-radius: 10px;
        color : #9d9d9d;

        background-color: #333;
    }
}

.filmography-table > tbody > tr:nth-child(4n+1) > td, .table-striped > tbody > tr:nth-child(4n+1) > th {
    background-color: rgba(128, 128, 128, 0.6);
}

tr { cursor: pointer; }

.actor-infos {
    display: flex;
    margin-top:50px;
}

.bio-table {
    flex: 1 55%;
    font-size: large;
    list-style-type:none;
    text-align: left;
}

.hiddenRow {
    padding: 0 !important;
}