#page {
    margin-top: 50px;
}

.apple-button {
    display:inline-block;
    overflow:hidden;
    background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;
    width:120px;
    height:40px;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
}

.apple-button:hover {
    opacity: 0.7;
}

.row .preview {
    position: relative;
    padding-top: 30px;
}

.ytplayer {
    width: 65%;
    height:50%;
}

.row .preview a img {
    transition: 0.3s filter linear;
    -webkit-transition: 0.3s -webkit-filter linear;
    -moz-transition: 0.3s -moz-filter linear;
    -ms-transition: 0.3s -ms-filter linear;
    -o-transition: 0.3s -o-filter linear;
    filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
}

.row .preview:hover a img {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
}

.row .preview span {
    display: none;
    transform: translate(-50%, -50%);
    position:absolute;
    left: 50%;
    top: 45%;
    height: 15%;
    width: 15%;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: width 0.4s ease, height 0.4s ease;
    -moz-transition: width 0.4s ease, height 0.4s ease;
    -webkit-transition: width 0.4s ease, height 0.4s ease;
}

.row .preview:hover span {
    display: block;
}

.row .preview:hover span:hover {
    opacity: 0.7;
    height: 18%;
    width: 18%;
}
