
.row .movie-rating {
    max-height:10px;
    max-width: 50px;
}

.movie-poster{
    width: 80%;
    float: none;
    margin: 20px auto;
}

.movie-poster > img {
    width:100%;
}

.row.featurette .movie-title {
    margin-bottom: 0;
}

.row.featurette  img {
    width:100%;
}

.row.movie-buttons {
    text-align: center;
    margin-top: 10px;
}

.row.movie-buttons > div {
    margin-top:10px;
}

.row.movie-buttons > .form-control {
    display: inline-block;
    width: 200px;
    margin-left: 5px;
}

