.tv-show{
    padding: 20px;
}
.tv-banner {
    text-align: center;
}

.tv-banner > img{
    width:60%;
}

.tv-info {
    padding-top: 20px;
}

.tv-rating {
    max-height:30px;
    max-width: 30px;
}

.row.featurette .tv-title {
    margin-bottom: 0;
}

.row.tv-info  img {
    width:100%;
}

.row .tv-preview {
    padding-top:20px;
    position: relative;
}

.row.button {
    text-align: center;
    margin-top: 60px;
}

.episode-list  li {
    display: inline;
    float: left;
}

.episode-list  ul{
    list-style-type: none;
}

.episode-list  a{
    text-decoration: none;
}

.episode {
    margin: 15px 10px 15px 10px;
    width: 110px;
    height: 150px;
}

.episode-title{
    font-weight: bold;
    color:black;
}

.episode-number{
    color:darkgrey;
}

#episode-info {
    display: none;
}

.modal h2{
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal-episode-title{
    font-weight: bold;
    color:black;
    margin-left: 10px;
    margin-bottom: -20px;
    float: left;
}

.modal .duration{
    text-align: right;
}

.modal img{
    margin-top: 7px;
    margin-bottom:20px;
}

.modal .description{
    font-size: 18px;
    margin-left: -20px;
    margin-bottom:20px;
}




