<div class="container">
    <div class="c-wrapper">
        <!-- carousel -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="images/pratt.jpg">

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>See Pratt!</h1>

                            <p>Wanna see Chris Pratt doin' his Chris Pratt thing? Oh yes you do, especially with
                                65-million-years-old creatures chasing him to death! But he's taming some!</p>

                            <p><a class="btn btn-lg btn-primary" href="#actors/347084658" role="button">Watch Pratt</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="http://www.blastr.com/sites/blastr/files/firefly-serenity-crew.jpg">

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Re-watch Firefly!</h1>

                            <p>A good series that ended too soon!</p>

                            <p><a class="btn btn-lg btn-primary" href="#tv-show/151801083" role="button">Watch!</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="http://trailers.apple.com/trailers/fox/themartian/images/background.jpg">

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Go to Mars!</h1>

                            <p>Have fun with Matt and his space suit!</p>

                            <p><a class="btn btn-lg btn-primary" href="#movies/1039586890" role="button">Damon it!</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="images/minions.jpg">

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Tired of Minions?</h1>

                            <p>Everyone likes Minions for at least 5 minutes! But you can watch the whole thing for 91
                                minutes on UMovie. Don't thank us.</p>

                            <p><a class="btn btn-lg btn-primary" href="#movies/991372004" role="button">Go for minions!</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="images/friends.png">

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Watch Friends Again!</h1>

                            <p>Again and again and again. No one's judging you! (Maybe yourself though)</p>

                            <p><a class="btn btn-lg btn-primary" href="#tv-show/168262075" role="button">Nostalgia</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- /carousel -->

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Screen-relax in da house!</h1>

        <p class="lead">Discover amazing movies UMovie has to offer while enjoying freshly baked pop-corn!</p>

        <p><a class="btn btn-lg btn-success" href="#" role="button">Watch now!</a></p>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <h2>UNews</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <h3>Frozen Princess no more frozen</h3>

            <p>
                The Disney Frozen Princess has recently declared not to have any super powers.
                Many of her fans felt bad for 5 to 10 minutes after hearing the news.
                At least, we still offer the magnificient Disney Chef-d'Oeuvre on UMovie.
            </p>

            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h3>Nicolas Cage films banned from our services</h3>

            <p>
                After recent problems concerning actor Nicolas Cage, UMovie decided to ban films featuring the so-said
                actor.
                In fact, young people seem to have a malicious pleasure to "Cage" their friends ridiculousing them and
                their
                family by putting pictures of the actor all over their belongings.
                UMovie decided to stop supporting such tribal behaviors.
            </p>

            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>