<div class="container">
    <h1>Signup</h1>
    <form method="post" id="signupForm">
        <div class="form-group">
            <label for="name-input">Name</label>
            <input id="name-input" type="text" class="form-control" name="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="email-input">Email</label>
            <input id="email-input" type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password-input">Password</label>
            <input id="password-input" type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-default">Sign up</button>
    </form>
    <a href="#login"><button class="btn btn-default">Log In here</button></a>
</div>