<!-- Modal -->
<div id="<%= trackId %>" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"  data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2 class="tv-title"><%= collectionName %></h2>
                <div class="episode-title"><%= trackName %></div>
                <img src="<%= artworkUrl100 %>">
                <div class="duration"><%= duration %></div>
                <p class="lead"><%= longDescription %></p>
                <div id="video-preview"></div>
            </div>
        </div>

    </div>

</div>