<div class="actorBackground-container">
    <div id="actorBackground"></div>
</div>

<div class="jumbotron">
    <div class="container actor-infos">
        <img class="profile-picture" src="" id="actor-pic">

        <div>
            <ul class="bio-table" id="actor-info">
                <li><h1><%= artistName %></h1></li>
                <li><%= artistType %></li>
                <li>Primary Genre : <%= primaryGenreName %></li>
                <li><a type="button" class="btn-mini" href="<%= artistLinkUrl %>">Artist Page</a></li>
                <li><a type="button" class="btn-mini" href="<%= radioStationUrl %>">Radio</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container" id="actor-filmography">
</div>