<div class="container">
    <div class="row">
        <div class="col-lg-1 movie-poster">
            <img src="http://trailers.apple.com/trailers/fox/themartian/images/background.jpg">
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="movie-title">The Martian
                <small class="text-muted">October 2nd 2015</small>
            </h2>
            <small><img class="movie-rating" src="https://upload.wikimedia.org/wikipedia/commons/c/c0/RATED_PG-13.svg">
                Action, Adventure, Sci-fi
            </small>
            <p class="lead">During a manned mission to Mars, Astronaut Mark Watney is presumed dead after a fierce storm
                and left behind by his crew. But Watney has survived and finds himself stranded and alone on the hostile
                planet. With only meager supplies, he must draw upon his ingenuity, wit and spirit to subsist and find a
                way to signal to Earth that he is alive.</p>
        </div>
        <div class="col-md-5 col-md-pull-7 preview">
            <a><img src="http://i.ytimg.com/vi/Ue4PCI0NamI/maxresdefault.jpg"></a>
            <span><img src="http://static3.appzota.com/2015/0808/video-player-perfect-hd-10_5f8b7.png"></span>
        </div>
    </div>
    <div class="row movie-buttons">
        <a class="apple-button" href="https://geo.itunes.apple.com/ca/movie/twilight/id353998071?mt=6"></a>
    </div>
</div>