<div class="container">
    <div class="row">
        <div class="col-lg-1 movie-poster">
            <img src="<%= poster %>">
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-6 col-md-push-6">
            <h2 class="movie-title"><%= trackName %> <small class="text-muted"><%= date.toDateString() %></small>
            </h2>
            <small><img class="movie-rating" src="images/RATED_<%= contentAdvisoryRating %>.svg"> <%= primaryGenreName %></small>
            <p class="lead"><%= longDescription %></p>
        </div>
        <div class="col-md-6 col-md-pull-6 preview" id="video-preview">
        </div>
    </div>
    <div class="row movie-buttons">
        <select id="watchlist-dropdown" class="form-control">
            <option value="" selected disabled>Please select</option>
            <% watchlists.each(function(watchlist) { %>
                <option value="<%= watchlist.get('id') %>"><%= watchlist.get('name') %></option>
            <% }); %>
        </select>
        <input class="btn btn-success" type="button" value="Add to watchlist"/>
        <div><a class="apple-button" href="<%= trackViewUrl %>"></a></div>

    </div>
</div>