<div class="container">
    <div class="row">
        <div class="col-lg-1 movie-poster">
            <img src="<%= poster %>">
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="movie-title"><%= title %> <small class="text-muted"><%= date.toDateString() %></small>
            </h2>
            <small><img class="movie-rating" src="images/RATED_<%= rating %>.svg"> <%= genre %></small>
            <p class="lead"><%= description %></p>
        </div>
        <div class="col-md-5 col-md-pull-7 preview">
            <a><img src="http://i.ytimg.com/vi/Ue4PCI0NamI/maxresdefault.jpg"></a>
            <span><img src="http://static3.appzota.com/2015/0808/video-player-perfect-hd-10_5f8b7.png"></span>
        </div>
    </div>
    <div class="row movie-buttons">
        <a class="apple-button" href="<%= appleURL %>"></a>
    </div>
</div>