<div class="container">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="home-navbar"
                data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">UMovie</a>
    </div>

    <div class="navbar-collapse collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>

            <li><a href="#users/<%= id %>/watchlists">Watchlists</a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="<%= avatar %>" class="img-circle navbar-user-img">
                    <%= name %>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Account</li>
                    <li><a href="#users/<%= id %>">Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Actions</li>
                    <li><a href="#logout">Logout</a></li>
                </ul>
            </li>
        </ul>

        <div class="col-sm-3 col-md-3 pull-right">
            <div class="navbar-form" role="search">
                <div class="input-group" id="search-container">
                    <input type="text" class="form-control" placeholder="Search UMovie" id="search-input-field">
                    <div class="input-group-btn">
                        <button class="btn btn-default" ><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>